.contactContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 45px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #171717;
    color: #E4E4E4;
    scroll-snap-align: center;
}

.title {
    padding-top: 50px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.formWrapper {
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #737373;
    background: linear-gradient(180deg, #070707 0%, #252525 100%);
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    padding-top: 10px;
}

.input {
    padding: 10px;
    border: 1px solid #737373;
    border-radius: 10px;
}

.buttonContainer {
    padding-top: 20px;
}

.button {
    display: flex;
    height: 60px;
    width: 200px;
    border-radius: 15px;
    background-color: #0d00a4;
    border: none;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #5f00a4
}

@media (max-width: 1024px) {
    .contactContainer {
        padding-left: 80px;
        padding-right: 80px;
    }

    .title {
        font-size: 28px;
        padding-top: 40px;
    }

    .formContainer {
        padding: 18px;
        width: 60%; 
    }

    .label {
        padding-top: 8px;
    }

    .input {
        padding: 8px;
    }

    .buttonContainer {
        padding-top: 16px;
    }

    .button {
        height: 50px;
        width: 180px;
    }
}

@media (max-width: 750px) {
    .contactContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 24px;
        padding-top: 40px;
    }

    .formContainer {
        padding: 18px;
        width: 70%;
    }

    .label {
        padding-top: 8px;
    }

    .input {
        padding: 8px;
    }

    .buttonContainer {
        padding-top: 16px;
    }

    .button {
        height: 50px;
        width: 180px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .input {
      font-size: 16px;
    }
}
